*{
    margin: 0;
    font-family: <style> @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); </style>;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 51px;
}

.text-primary{
    color: #FD6E0A;
}
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav li{
    text-decoration: none;
    list-style: none;
    margin-left: 50px;
   
}
nav ul{
    display: flex;
    align-items: center;
}
.btn-primary{
    height: 64px;
    width: 150px;
    left: 1220px;
    top: 50px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: aliceblue;
    border: none;
}

.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-sub{
font-weight: 600;
font-size: 45px;
margin-bottom: 20px;
}
.banner-tit{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banana{
    font-weight: 400;
    font-size: 18px;
    margin: 30px;
}
.btn-cv{
    height: 64px;
    width: 200px;
    padding: 5px;
    color: aliceblue;
    background-color: #FD6E0A;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , bottom left;
    
}
/* SECTION STYLES */
main{
    width: 1140px;
    margin: auto;
}
.about{
margin-top: 130px;
background: hwb(26 74% 18%);
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}
.section-title{
margin-bottom: 30px;
font-weight: 700;
font-size: 35px;
}
.section-detail{
color: #757575;
font-size: 18px;
margin-bottom: 30px;}
.about-info-box{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    color: #474747;
    font-size: 20px;
}
.about .info-driscription{
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}
.section2{
    text-align: center;
    padding: 150px;
}
.section2 .section2-title{
    color: #181818;
    padding: 30px;  
}
.skills{
    display: flex;
}
.skills .hskills{
    padding: 40px;
}
.skills .ski4{
    text-align: center;
}
.skills .slill1{
   padding: 10px;
   border: 2px solid black;
   margin: 10px;
   border-radius: 5px;
   box-shadow: 2px 2px 2px red;
   width: 267px;
}

.summary{
    text-align: center;
}
.summary .summary-title{
    color: #181818;
    padding: 150px;
}

.section4{
   display: flex;
}
.ex{
    padding: 10px;
}

.exh3{
    padding-bottom: 10px;
}
.exh4{
    padding-bottom: 5px;
}
.pra{
    padding-bottom: 15px;
}
.section5{
    margin: 80px;
    text-align: center;
}
.button{
    background-color: #FD6E0A;
    color: #FFF8F3;
    padding: 7px;
    text-decoration: none;
    border: none;
}

/* last section */
.last-section{
    display: flex;
}
.cmh3{
    padding: 10px;
}
.cmpra{
    padding: 10px;
}
.cm{
    padding: 15px;
    text-align: left;
}